* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 400px;
}

ul {
  text-align: center;
}
li {
  display: inline-block;
  text-align: left;
  padding: 20px;
  background-color: #1b6de7;
  border: none;
  border-radius: 20px;
  margin: 10px;
  color: white;
  /* width: 40%; */
  font-family: zen loop, cursive;
  line-height: 35px;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}
