* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #313267;
}
img {
    max-width: 150px;
    display:block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
.container {
    background-color: rgb(206, 204, 204);
    margin: auto;
    max-width: 1000px;
    min-height: 250px;
    padding-bottom: 20px;
}


/* id change to class */
.hyf {
    display: flex;
    margin-bottom: 10px;
    max-width: 1000px;
    padding: 30px;
    font-size: 10px;
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    background-color: #4051B6;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* id change to class */
.selectClass {
    margin-left: 20px;
}


/* id change to class */
.repo {
    margin: auto;
    margin-top: 0px;
    width: 450px;
    background-color: white;
    color: black;
    padding: 10px;
    margin-left:30px;
    font-size: 10px;
    float: left;
}

/* id change to class */
.contribution {
    margin: auto;
    flex-direction:row;
    margin-top: 0x;
    width: 450px;
    background-color: white;
    color: black;
    padding: 10px;
    margin-right: 30px;
    font-size: 10px;
    float: right;
    
}

