* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  /* color: #c73961; */
  font-family: 'Segoe Print', Times, serif;
  padding-bottom: 30px;
  color: #c73961;
}

.btn1,
.select {
  font-family: 'Segoe Print', Times, serif;
  width: 2vm;
  padding: 2px;
  border: 1px solid #c73961;
  border-radius: 5px;
  box-shadow: 5px 10px #c73961;
  background-color: #f5c8c8;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #c73961;
}

.btn1:hover {
  background-color: #ec1b56;
  color: white;
  opacity: 0.6;
}
.select:hover {
  background-color: #ec1b56;
  color: white;
  opacity: 0.6;
}
