* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background: #f34646;
  background: linear-gradient(to left, #ff0000 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Segoe Print', Times, serif;

  padding-bottom: 30px;
}

.btn1 {
  font-family: 'Segoe Print', Times, serif;
  width: 2vm;
  padding: 2px;
  border: 2px solid #420617;
  border-radius: 5px;
  background-color: #882b45;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.select {
  font-family: 'Segoe Print', Times, serif;
  width: 2vm;
  padding: 2px;
  border: 2px solid #420617;
  border-radius: 5px;
  background-color: #882b45;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}
